@import '/src/sass';

.wrapper {
  width: 100%;
  height: 50px;
  @include flex(center, space-between);
  margin: 30px 0;

  .control-left,
  .control-right {
    color: $third-color;
    font-size: 24px;
    font-weight: 900;
    width: 40px;
    height: 40px;
    background-color: $fourth-color;
    border-radius: 50%;

    &:hover {
      background-color: rgba($color: #000, $alpha: 0.1);
    }
  }

  .number {
    flex: 1;
    @include flex(center, center);

    .mobile {
      display: none;
      font-weight: 700;
      @include mobile {
        display: block;
      }
    }

    &__item {
      @include flex(center, center);
      margin: 0 20px;
      width: 40px;
      height: 40px;
      font-size: 18px;
      font-weight: 900;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        color: $fourth-color;
        background-color: $third-color;
      }

      &:hover {
        background-color: rgba($color: #000, $alpha: 0.3);
      }

      @include mobile {
        display: none;
      }
    }
  }
}

.pagination-mini {
  @include flex(center, center);

  & > * {
    font-size: 16px;
    font-weight: 600;
  }

  .control-mini {
    margin-left: 5px;
    button {
      padding: 5px 10px;
      font-size: 20px;
      font-weight: 700;
      margin: 0 2px;
      color: $fourth-color;
      background-color: $third-color;
      transition: all 0.1s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
