@import '/src/sass';

.wrapper {
  background-color: $fourth-color;
  padding: 50px;
  @include flex(center, center);
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  border: 1px solid #fff;

  @include mobile {
    margin: 0 10px;
    min-width: 80vw;
    padding: 20px;
  }
}

.content {
  @include flex(center, center);
  flex-direction: column;

  .icon {
    .success {
      color: rgb(73, 255, 73);
    }

    .error {
      color: rgb(250, 82, 82);
    }

    .warning {
      color: #f5c535;
    }

    .liveSlow {
      color: #e4a0b7;
    }

    i {
      font-size: 60px;
    }
  }

  .title {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    color: #fff;
  }
}
