@import '/src/sass';

.main_wrapper {
  .status_orders {
    @include flex(center, space-between);

    button.active {
      background-color: rgba($color: $third-color, $alpha: 0.2);
    }

    button {
      flex: 1;
    }
  }
  .orders {
    margin-top: 20px;
  }

  .empty {
    @include flex(center, center);
    min-height: 100vh;
    flex-direction: column;
    background-color: $fourth-color;

    & > * {
      margin-bottom: 20px;
    }

    i {
      font-size: 50px;
    }
  }
}
