@import '/src/sass';

.order_wrapper {
  margin-bottom: 20px;
  .actions_status {
    background-color: $fourth-color;
    padding: 20px;
    @include flex(center, space-between);
    margin-bottom: 20px;
  }
  .status {
    span {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      text-transform: uppercase;
      font-weight: 500;
      color: #fff;
    }
  }
  .action {
    @include mobile {
      margin-right: 15px;
    }
  }
}
