@import '/src/sass';

.filter {
  width: 20%;
  min-width: 250px;
  min-height: 100vh;
  background-color: $fourth-color;
  padding: 20px;

  margin-right: 20px;

  .wedget {
    border-bottom: 1px solid $third-color;

    &__title {
      font-size: 20px;
      text-transform: uppercase;
      margin: 20px 0;
    }

    &__content {
      @include flex(flex-start, center);
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  .wedget.no_border {
    border-bottom: none;
  }

  @include tablet {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 101;
    height: 100vh;
    width: 55%;
    overflow-y: scroll;
    transition: left 0.3s ease;

    &.active {
      left: 0;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.btn-clear-filter {
  width: 100%;
  height: 50px;
  background-color: $third-color;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.sort-content {
  @include flex(center, flex-start);

  & > * {
    padding: 10px;
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
  }

  @include tablet {
    & > * {
      padding: 5px;
      margin: 0 5px;
    }
  }

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    & > * {
      padding: 5px;
      margin: 0 5px;
    }
  }
}

.btn_disabel_filter {
  display: none;
  background-color: transparent;
  font-size: 40px;
  line-height: 40px;
  color: $third-color;
  position: absolute;
  top: 30px;
  right: 20px;

  @include tablet {
    display: block;
  }
}
