@import '/src/sass';

.content {
  @include tablet {
    @include flex(center, center);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: $main-color;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;

    &.active {
      transform: translateX(0);
    }
  }
}

.avatar_mobile {
  display: none;
  flex-direction: column;

  & > span {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  @include tablet {
    @include flex(center, center);
  }
}

.context {
  @include tablet {
    @include flex(center, center);
    flex-direction: column;
  }

  @include mobile {
    flex-direction: row;
    & > * {
      margin: 0 15px;
    }
  }
}

.main {
  @include flex(center, space-between);

  @include tablet {
    width: none;
  }

  @include mobile {
    @include flex(flex-start, flex-start);
    flex-direction: column;
  }
}

.mobile {
  display: none;
  @include tablet {
    @include flex(center, flex-start);
  }
  @include mobile {
    flex-direction: column;
  }
}

.menu__item {
  @include flex(center, center);
  flex-direction: column;
  width: 60px;
  height: 60px;
  font-size: 18px;
  margin: 0 8px;
  color: $third-color;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.1s ease-in;

  &:hover {
    border-color: $third-color;
  }

  &.active {
    border-color: $third-color;
    box-shadow: #cc9544 0px 20px 14px -19px;
  }

  @include tablet {
    margin: 20px 20px;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: center;
  }

  @include tablet {
    margin: 20px 20px;
  }

  // @include mobile {
  //   display: none;
  // }
}

.tippy_wrapper_avatar {
  @include tablet {
    display: none;
  }
}

.open-menu-mobile,
.close-menu-mobile {
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;

  @include tablet {
    @include flex(center, center);
  }

  i {
    font-size: 30px;
    color: $third-color;
  }
}

.menu_user-item {
  @include flex(center, flex-start);
  padding: 10px 20px;
  cursor: pointer;

  .menu_user-icon {
    width: 30px;
    font-size: 18px;
  }

  .menu_user-title {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &.separate {
    border-bottom: 1px solid $third-color;
  }

  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(80, 80, 80, 0.1);
  }
}

.username {
  text-align: center;
  pointer-events: none;

  .menu_user-title {
    text-align: center;
    width: 100%;
    font-weight: 700;
  }

  &:hover {
    background-color: transparent;
  }
}
