@import '/src/sass';

.wrapper {
  padding-bottom: 20px !important;
}

.header {
  padding: 100px 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  background-color: $fourth-color;
  i {
    font-size: 70px;
    color: rgb(73, 255, 73);
  }

  h1 {
    padding: 20px;
  }

  p {
    max-width: 500px;
    margin: auto;
  }

  .actions {
    margin-top: 20px;
    width: fit-content;
    margin: auto;

    @include mobile {
      @include flex(center, center);
      flex-direction: column;
      margin-top: 10px;
      & > * {
        margin: 0;
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}

.section_product_recommemt {
  margin-top: 30px;
}
