@import '/src/sass';

.wrapper {
  @include flex(center, center);
  flex-direction: column;
  width: 100vw;
  max-width: 640px;

  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;

  @include mobile {
    height: 100vh;
    border-radius: unset;
  }
}

.heading {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px white, -1px -1px #333;
}

.form_register {
  @include flex(center, center);
  flex-direction: column;

  .btn_register {
    margin-top: 20px;
  }
}

.navigator {
  margin-top: 20px;

  a {
    font-weight: 800;
    margin-left: 5px;
  }
}

.btn_home {
  position: absolute;
  line-height: 0;
  text-align: center;
  top: 10px;
  right: 10px;
  color: $third-color;
  font-size: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    color: $second-color;
  }
}
