@import '/src/sass';

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;

  width: 100%;
  height: 100%;
  line-height: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  @include flex(center, space-around);
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 640px;
  width: 100vw;

  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;

  @include mobile {
    height: 100vh;
    border-radius: unset;
  }
}

.heading {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px white, -1px -1px #333;
}

.form_register {
  @include flex(center, center);
  flex-direction: column;

  .btn_login {
    margin-top: 20px;
  }
}

.social_media {
  margin-bottom: 20px;
  p {
    margin: 10px 0;
    text-align: center;
  }
}

.navigator {
  margin-top: 20px;

  a {
    font-weight: 800;
    margin-left: 5px;
  }
}

.btn_home {
  position: absolute;
  line-height: 0;
  text-align: center;
  top: 10px;
  right: 10px;
  color: $third-color;
  font-size: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    color: $second-color;
  }
}
