@import '/src/sass';

.form_group {
  @include flex(flex-start, center);
  flex-direction: column;
  margin: 5px 0 18px 0;
  width: 100%;

  label {
    font-weight: 700;
  }

  input {
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 16px;
  }

  &.is_error {
    margin-bottom: 0;
  }
}

.error {
  height: 18px;
  color: red;
  font-style: italic;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
}

.disabled {
  opacity: 0.5;
  input {
    font-weight: 700;
  }
}

.border {
  input {
    border-radius: 20px;
  }
}

.outline {
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $third-color;
    color: $third-color;
  }
}
