@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import '/src/sass';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: $main-color;
  color: $third-color;
  overflow: overlay;
  overflow-y: hidden;
}

input,
button,
[tabindex] {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style: none;
}

@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
  }

  .bg-#{$color} {
    background-color: $val;
  }
}

@each $val in $number {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }

  .grap-#{$val*10} {
    gap: $val;
  }
}

@each $val in $number {
  .grid-col-md-#{$val} {
    @include tablet {
      grid-template-columns: repeat($val, 1fr);
    }
  }

  .grap-md-#{$val*10} {
    @include tablet {
      gap: $val;
    }
  }
}

@each $val in $number {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }

  .grap-sm-#{$val*10} {
    @include mobile {
      gap: $val;
    }
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  // max-width: 1350px;
  margin: auto;
  padding: 0 50px;

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 10px;
  }
}

.main {
  margin-top: $header-height;

  min-height: 100vh;

  @include tablet {
    margin-top: calc(#{$header-tablet-height} + 20px);
  }

  @include mobile {
    margin-top: calc(#{$header-mobile-height} + 10px);
  }
}

.grid {
  display: grid;
}

//Scroll
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $third-color;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba($color: $third-color, $alpha: 0.15);
}
