@import '/src/sass';

.wrapper {
  @include flex(center, space-around);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: $header-height;
  background-color: $main-color;
  transition: height 0.3s ease-out;

  &.shrink {
    height: $header-shrink-height;
    box-shadow: $box-shadow;

    .logo {
      transform: scale(75%);
    }

    @include tablet {
      .logo {
        transform: none;
      }
    }

    @include mobile {
      .logo {
        transform: none;
      }
    }
  }

  @include tablet {
    height: $header-tablet-height;
  }

  @include mobile {
    height: $header-mobile-height;
  }
}

.logo {
  height: 100px;
  transition: all 0.3s ease;

  img {
    height: 100%;
  }

  @include tablet {
    height: 60px;
  }
}

.search {
  @include flex(center, center);
  width: 500px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  border: 1.15px solid transparent;

  @include tablet {
    width: 400px;
  }

  @include mobile {
    width: 200px;
  }

  input {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    color: $text-main-color;

    @include mobile {
      width: 70%;
    }
  }

  &:focus-within {
    border-color: $third-color;
  }

  button {
    @include button;
    width: 100px;
    height: 100%;

    @include mobile {
      width: 30%;
    }

    i {
      font-size: 14px;
      color: $third-color;
    }

    &:hover i {
      color: #f5c276;
    }
  }
}

.menu {
  @include flex(center, space-between);
  width: 300px;

  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: $main-color;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    &.active {
      transform: translateX(0);
    }
  }

  &__item {
    @include flex(center, center);
    flex-direction: column;
    width: 60px;
    height: 60px;
    font-size: 18px;
    color: $third-color;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:hover {
      border-color: $third-color;
    }

    &.active {
      border-color: $third-color;
      box-shadow: #cc9544 0px 20px 14px -19px;
    }

    @include tablet {
      margin: 20px 0;
    }
  }
}

.open-menu-mobile,
.close-menu-mobile {
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;

  @include tablet {
    @include flex(center, center);
  }

  i {
    font-size: 27px;
    color: $third-color;
  }
}
