@import '/src/sass';

.wrapper {
  @include flex(center, center);
  background-color: $fourth-color;
  padding: 20px;
  min-width: 250px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  color: #fff;
  animation-fill-mode: forwards;
  animation-name: slideInLeft, faderOut;
  animation-delay: 0s, 1s;
  animation-duration: 0.5s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  to {
    transform: translateX(100%);
  }
}

@keyframes faderOut {
  to {
    opacity: 0;
  }
}

.icon i {
  display: none;
  margin-right: 10px;
  font-size: 18px;
}

.icon.success i.success {
  display: block;
  color: rgb(73, 255, 73);
}

.icon.error i.error {
  color: rgb(250, 82, 82);
  display: block;
}
