@import '/src/sass';

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;

  width: 100%;
  height: 100%;
  line-height: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  @include flex(center, space-around);
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mobile {
    width: 100%;
  }
}
