@import '/src/sass';

.wrapper {
  padding-bottom: 20px !important;
}

.banner {
  width: 100%;
  height: 250px;
  background-color: #f6f6e9;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  @include flex(flex-start, flex-start);
  width: 100%;
}

.context {
  flex: 1;

  .products {
    margin-top: 20px;
  }
}

.filter__sort {
  background-color: $fourth-color;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  @include flex(center, space-between);
}

.search_result_title {
  @include flex(center, space-between);
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;

  p {
    flex-grow: 1;
  }

  i {
    margin-right: 10px;
  }

  .btn_clear_title {
    color: $third-color;
    background-color: transparent;
    font-size: 20px;
  }
}

.filter_btn {
  display: none;
  @include tablet {
    @include flex(center, center);
  }
}

.btn_active_filterSort,
.btn_active_filter {
  display: none;
  font-size: 30px;
  background-color: transparent;
  color: $third-color;
  margin-right: 15px;
}

.btn_active_filter {
  @include tablet {
    display: block;
  }
}

.btn_active_filterSort {
  @include mobile {
    display: block;
  }
}
