@import '/src/sass';

.wrapper {
  padding: 0 50px;
}

.banner {
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin-bottom: 30px;
}

.container {
  @include flex(flex-start, flex-start);
  width: 100%;
}

.products {
  padding-left: 20px;
}

.filter {
  width: 20%;
  height: 100vh;
  background-color: $fourth-color;
  padding: 20px;
  .wedget {
    &__title {
      font-size: 20px;
      text-transform: uppercase;
    }

    &__content {
      @include flex(flex-start, center);
      flex-direction: column;
    }
  }
}

.content {
  flex: 1;
}

.pagination {
  width: 100%;
  background-color: #fff;
  height: 50px;
}
