.wrapper {
  background-color: #999;
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  // & + & {
  //   margin-top: 10px;
  // }
}

.info {
  padding: 20px;
}

.btn-delete {
  background-color: rgb(54, 201, 25);
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  margin-top: auto;

  &:hover {
    opacity: 0.5;
  }
}
