@import '/src/sass';

.wrapper {
  @include flex(flex-start, center);
  padding: 8px 10px;
  cursor: pointer;
}

.image {
  width: 70px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
    object-fit: conver;
  }
}

.content {
  flex: 1;
  margin-left: 10px;

  .title {
    font-size: 18px;
    color: $main-color;
    font-weight: 600;
  }

  .price {
    font-size: 16px;
    color: $fourth-color;
    font-weight: 600;
  }
}
