@import '/src/sass';

.wrapper {
  @include flex(center, center);
  cursor: pointer;
  margin-bottom: 5px;
}

.title {
  color: $third-color;
  font-style: 18px;
  text-transform: uppercase;
  margin-left: 10px;
}
