@import '/src/sass';

.wrapper {
  @include flex(center, center);
  cursor: pointer;
  & + & {
    margin-top: 5px;
  }
  user-select: none;
  width: 100%;
}

.title {
  color: inherit;
  font-style: 18px;
  margin-left: 10px;
  flex: 1;
}

.title.upper {
  text-transform: uppercase;
}
