@import '/src/sass';

.wrapper {
  background-color: $second-color;
  color: #fff;
  padding-top: 100px !important;

  @include mobile {
    padding: 100px 10px 50px;
  }
}

.title {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

.body {
  justify-content: center;
  align-items: center;
}
