@import '/src/sass';

.wrapper {
  background-color: $second-color;
  color: #fff;

  @include mobile {
    padding: 100px 10px 50px;
  }
}

.title {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  text-shadow: 1px 1px 20px white, -5px -3px #333;
}

.body {
  justify-content: center;
  align-items: center;
}
