@import '/src/sass';

.wrapper {
  padding: 0 !important;
  background-color: rgb(17, 1, 1);
}

.top {
  padding: 40px 60px;

  & > * {
    justify-items: center;
  }

  @include tablet {
    & > * {
      justify-items: flex-start;
    }
  }
}

.logo {
  height: 150px;

  img {
    height: 100%;
  }
}

.item {
  margin: 10px 0;

  &.active {
    & .item__content {
      @include mobile {
        display: block;
      }
    }

    & .toggle-content-mobile {
      transform: rotate(180deg);
    }
  }
}

.toggle-content-mobile {
  transition: all 0.3s ease;
}

.item__title {
  @include flex(center, space-between);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  text-transform: uppercase;

  & .toggle-content-mobile {
    cursor: pointer;
    display: none;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;

    @include mobile {
      display: block;
    }
  }
}

.item__content {
  font-size: 14px;
  transition: height 0.3s ease;

  .item-contact {
    margin-top: 5px;
    @include flex(center, flex-start);
    cursor: pointer;
  }

  .item-contact:hover {
    text-shadow: 0 0 10px $third-color;
  }

  @include mobile {
    display: none;
    animation: fader 0.3s;
  }
}

@keyframes fader {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  50% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.item-icon {
  width: 15px;
  height: 15px;
  line-height: 14px;
  text-align: center;
  margin-right: 5px;
}

.bottom {
  @include flex(center, center);
  flex-direction: column;
  padding: 20px 0;
  color: rgba($color: $third-color, $alpha: 0.3);
  border-top: 0.5px solid $fourth-color;

  .footer-payments {
    @include flex(center, center);

    li i {
      font-size: 24px;
      margin: 0 10px;
    }
  }
}

.copyright {
  text-align: center;
}
