@import '/src/sass';

.wrapper {
  @include flex(center, space-between);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: $header-height;
  background-color: $main-color;
  transition: height 0.3s ease-out;

  &.shrink {
    height: $header-shrink-height;
    box-shadow: $box-shadow;

    .logo {
      transform: scale(75%);
    }

    @include tablet {
      .logo {
        transform: none;
      }
    }

    @include mobile {
      .logo {
        transform: none;
      }
    }
  }

  @include tablet {
    height: $header-tablet-height;
  }

  @include mobile {
    height: $header-mobile-height;
  }
}

.logo {
  height: 100px;
  transition: all 0.3s ease;

  img {
    height: 100%;
  }

  @include tablet {
    height: 60px;
  }
}

.menu {
  @include flex(center, space-between);
  width: 300px;

  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: $main-color;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    &.active {
      transform: translateX(0);
    }
  }

  &__item {
    @include flex(center, center);
    flex-direction: column;
    width: 60px;
    height: 60px;
    font-size: 18px;
    color: $third-color;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:hover {
      border-color: $third-color;
    }

    &.active {
      border-color: $third-color;
      box-shadow: #cc9544 0px 20px 14px -19px;
    }

    @include tablet {
      margin: 20px 0;
    }
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: center;
  }
}

.open-menu-mobile,
.close-menu-mobile {
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;

  @include tablet {
    @include flex(center, center);
  }

  i {
    font-size: 27px;
    color: $third-color;
  }
}

.menu_user-item {
  @include flex(center, flex-start);
  padding: 10px 20px;

  .menu_user-icon {
    text-align: center;
    width: 40px;

    font-size: 18px;
  }

  .menu_user-title {
    font-size: 16px;
  }

  &.separate {
    border-top: 1px solid $third-color;
  }

  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(80, 80, 80, 0.1);
  }
}
