@import '/src/sass';

.wrapper {
  @include flex(center, space-between);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: $header-height;
  background-color: $main-color;

  transition: height 0.3s ease-out;

  &.shrink {
    height: $header-shrink-height;
    box-shadow: $box-shadow;

    .logo {
      transform: scale(75%);
    }

    @include tablet {
      .logo {
        transform: scale(100%);
      }
    }

    @include mobile {
      .logo {
        transform: scale(100%);
      }
    }
  }

  @include tablet {
    height: $header-tablet-height;
  }

  @include mobile {
    height: $header-shrink-height;
  }
}

.logo {
  height: 100px;
  transition: all 0.3s ease;

  img {
    height: 100%;
  }

  @include tablet {
    height: 75px;
  }

  @include mobile {
    height: 55px;
  }
}

.open-menu-mobile,
.close-menu-mobile {
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;

  @include tablet {
    @include flex(center, center);
  }

  i {
    font-size: 30px;
    color: $third-color;
  }
}
