@import '/src/sass';

.wrapper {
  .title {
    margin-bottom: 20px;
  }
}

.content {
  @include flex(center, center);
  padding: 0 20px;
}

.form_change_password {
  @include flex(center, center);
  flex-direction: column;
  // width: 100%;
  // // max-width: 350px;
  // padding: 0 60px 0 10px;

  & input {
    width: 360px;
    color: #fff;
  }

  .btn_change {
    margin: 20px 0;
  }
}
