@import '/src/sass';
.wrapper {
  .header {
    margin-bottom: 40px;
    @include mobile {
      font-size: 30px;
      text-align: center;
    }
  }
}

.address_item {
  @include flex(center, space-between);
  border: 1px solid $third-color;
  padding: 20px;
  margin-bottom: 40px;
  opacity: 0.5;
  pointer-events: none;
  color: #fff;

  .info {
    padding-right: 20px;
  }

  &.active {
    opacity: 1;
    pointer-events: unset;
  }
}

.form_add_address {
  @include flex(flex-start, center);
  flex-direction: column;
  width: 100%;
  input {
    width: 100%;
    color: #fff;
  }

  .checkbox {
    input {
      width: unset;
    }
  }

  opacity: 0.5;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: unset;
  }
}

.actions {
  padding-top: 20px;
  text-align: end;
  width: 100%;
}

.address_modal {
  @include flex(center, center);
  flex-direction: column;
  h2 {
    text-align: center;
    width: 100%;
  }
  background-color: $main-color;
  border: 1px solid #fff;
  padding: 20px;
  min-width: 600px;

  @include tablet {
    min-width: unset;
  }

  .address_list {
    margin-top: 20px;
    width: 100%;

    .address_item {
      margin: 0;
    }
    .address_item + .address_item {
      margin-top: 20px;
    }
  }

  .btn_close {
    margin-top: 30px;
  }
}
