@import '/src/sass';

.wrapper {
  .title {
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 40px;
      text-align: center;
    }
  }
}

.content {
  @include flex(center, space-between);

  @include mobile {
    flex-direction: column;
  }
}

.form {
  flex: 1;

  @include flex(center, center);
  padding: 0 20px;
}

.form_account {
  @include flex(center, center);
  flex-direction: column;

  // padding: 0 60px 0 10px;

  & input {
    min-width: 360px;
    color: #fff;

    @include tablet {
      min-width: 300px;
    }
  }

  .btn_verify {
    font-size: 14px;
    padding: 5px 10px;
  }

  .btn_check {
    cursor: unset;
    color: rgb(73, 255, 73);
  }

  .btn_account {
    margin-top: 20px;
  }
}

// .border {
//   height: 100%;
//   width: 2px;
//   height: 100vh;
//   border-left: 1px solid $third-color;
// }

.avatar {
  padding: 50px;
  @include flex(center, center);
  flex-direction: column;
  border-left: 1px solid $third-color;

  @include mobile {
    border: none;
  }

  .avatar__image {
    width: 200px;
    height: 200px;
  }

  .btn_random {
    margin-top: 30px;
  }
}
