@import '/src/sass';

.header {
  padding: 10px 0 20px 0;
  font-size: 24px;
  width: 100%;
  border-bottom: 1px solid $third-color;
}

.account_found {
  @include flex(center, flex-start);
  width: 100%;
  padding: 20px 0;

  .avatar {
    width: 100px;
    margin: 0 20px;
  }
}

.method {
  color: $fourth-color;
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.actions {
  border-top: 1px solid $third-color;
  width: 100%;
  text-align: end;
  padding-top: 20px;
}
