@import '/src/sass';

.wrapper {
  position: relative;
  display: block;

  &.mobile {
    .render {
      @include tablet {
        display: none;
        visibility: visible;
      }
    }
  }
}

.render {
  position: absolute;
  width: 100%;

  @include mobile {
    width: 90vw !important;
  }

  margin-top: 8px;
  animation: fader 0.1s ease;
}

@keyframes fader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
